body { background-color:#f3f3f3; min-width: 960px;overflow-x: hidden;margin: 0;padding: 0;font-size: 12px/1.5;  font-family: "Arial","Hiragino Sans GB","Microsoft YaHei", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif"; color: #333;background: #eee; font-size: 12px;outline: 0;}
.webheader { position:fixed; top:0px; width:100%; min-height:120px; z-index:999} 
.webheader .topbar{  background-color:#fff; height:40px; line-height:40px } 
.webheader .menubar{ } 
.webheader .menubar .logo{padding:0px ; font-size:18px} 
.webheader .menubar .menus{} 
.webheader .menubar .menus ul{ list-style:none; }
.webheader .menubar .menus ul li{ list-style:none; float:left; height:80px; width:120px; line-height:80px; font-size:16px ; text-align:center}
.webheader .menubar .menus ul li:hover{ background-color:#11b7e0; border-bottom:2px solid #f8bc40; cursor:pointer}
.webheader .menubar .menus ul li:hover{  color:#fafafa}  
.loginfooter {background-color:#fff;width:100%;margin:0px;}
.loginfooter{width: 100%;min-height: 10px;}
.loginfooter .container{ padding:10px; font-size:1.2em;} 
#divBody{min-height: 650px; padding-top: 140px; padding-bottom: 80px;}

/*Home Begin*/
/*筛选条件样式*/
/*位置*/
.divAddr {padding: 10px 0px 5px 10px;background-color: #fff;}
.divAddr .table {width: 100%;}
.divAddr table tr td {text-align: left;padding-left: 10px;}
.divAddr table tr .editor.active {font-weight:bold;color: red;}
.divAddr table tr .editor:hover {font-weight:bold;color: #444;cursor:pointer;} 
.divAddr .lab {width: 80px;/*text-align: center;*/} 
/*Filter*/ 
.divProcess{ padding-bottom:10px}
.divProcess ul{ list-style:none; padding:0px; margin:0px ; border:1px solid #128abc; background-color:#5bc0de; color:#fff; border-radius:5px}  
.divProcess ul li{ float:left; padding:7px 15px; border-right:1px solid #128abc;  }
.divProcess ul li:hover{ cursor:pointer; font-weight:bold}
.divProcess ul li:last-child{ border:0px}
.divProcess ul li.active{ background-color:#fff; color:#128abc}
.divProcess ul li:first-child.active{  border-radius:5px 0px 0px 5px }
.divProcess ul li:last-child.active{  border-radius:0px 5px 5px 0px}
/*房价*/ 
.divPrice {padding: 10px 0px 5px 10px;background-color: #fff;}
.divPrice .table {width: 100%;}
.divPrice table tr td {text-align: left;padding-left: 10px;}
.divPrice table tr .editor.active {font-weight:bold;color: red;}
.divPrice table tr .editor:hover {font-weight:bold;color: #444;cursor:pointer;} 
.divPrice .lab {width: 80px;/*text-align: center;*/}
/*星级*/ 
.divStar {padding: 10px 0px 5px 10px;background-color: #fff;}
.divStar .table {width: 100%;}
.divStar table tr td {text-align: left;padding-left: 10px;}
.divStar table tr .editor.active {font-weight:bold;color: red;}
.divStar table tr .editor:hover {font-weight:bold;color: #444;cursor:pointer;} 
.divStar .lab {width: 80px;/*text-align: center;*/}
/*品牌*/ 
.divBrand {padding: 10px 0px 5px 10px;background-color: #fff;}
.divBrand .table {width: 100%;}
.divBrand table tr td {text-align: left;padding-left: 10px;}
.divBrand table tr .editor.active {font-weight:bold;color: red;}
.divBrand table tr .editor:hover {font-weight:bold;color: #444;cursor:pointer;} 
.divBrand .lab {width: 80px;/*text-align: center;*/}
/*主题*/ 
.divTheme {padding: 10px 0px 5px 10px;background-color: #fff;}
.divTheme .table {width: 100%;}
.divTheme table tr td {text-align: left;padding-left: 10px;}
.divTheme table tr .editor.active {font-weight:bold;color: red;}
.divTheme table tr .editor:hover {font-weight:bold;color: #444;cursor:pointer;} 
.divTheme .lab {width: 80px;text-align: center;}
/*车型*/ 
.divType {padding: 10px 0px 5px 10px;background-color: #fff;}
.divType .table {width: 100%;}
.divType table tr td {text-align: left;padding-left: 10px;}
.divType table tr .editor.active {font-weight:bold;color: red;}
.divType table tr .editor:hover {font-weight:bold;color: #444;cursor:pointer;} 
.divType .lab {width: 80px;text-align: center;}
/*品牌*/ 
.divPreference {padding: 10px 0px 5px 10px;background-color: #fff;}
.divPreference .table {width: 100%;}
.divPreference table tr td {text-align: left;padding-left: 10px;}
.divPreference table tr .editor.active {font-weight:bold;color: red;}
.divPreference table tr .editor:hover {font-weight:bold;color: #444;cursor:pointer;} 
.divPreference .lab {width: 80px;text-align: center;}
/*座位*/ 
.divSeat {padding: 10px 0px 5px 10px;background-color: #fff;}
.divSeat .table {width: 100%;}
.divSeat table tr td {text-align: left;padding-left: 10px;}
.divSeat table tr .editor.active {font-weight:bold;color: red;}
.divSeat table tr .editor:hover {font-weight:bold;color: #444;cursor:pointer;} 
.divSeat .lab {width: 80px;text-align: center;}
/*自/手动*/ 
.divTransmission {padding: 10px 0px 5px 10px;background-color: #fff;}
.divTransmission .table {width: 100%;}
.divTransmission table tr td {text-align: left;padding-left: 10px;}
.divTransmission table tr .editor.active {font-weight:bold;color: red;}
.divTransmission table tr .editor:hover {font-weight:bold;color: #444;cursor:pointer;} 
.divTransmission .lab {width: 80px;text-align: center;}
/*筛选条件*/
.divSearch {padding: 10px 0px 5px 10px;background-color: #fff;border-bottom: 1px solid #dbdbdb;}
.divSearch .table {width: 100%;}
.divSearch table tr td {text-align: left;padding-left: 10px;} 
.divSearch .lab {width: 80px;/*text-align: center;*/}
/*地理位置*/
.divFilter {padding: 10px;background-color: #fff; margin-top: 10px;}
.divFilter table {width: 100%;}
.divFilter table tr td {text-align: left;}
.divFilter .lab {width: 80px;text-align: center;}
.divFilter .editor {width: 130px;}
.divFilter .editor input, select {width: 120px;} 



/*房屋信息列表*/
.wrapper {}
.wrapper ul {list-style: none;float: left;padding: 0px;width: 100%;}
.wrapper ul li {/*width: 100%;*/}
.wrapper ul li .divItem {background-color: #fff;padding: 10px;margin-bottom: 10px;color: #999;}
.wrapper ul li .divItem:hover {background-color: #fafafa;}
.wrapper ul li .divItem .ImgIcon {float: left;width: 160px;height: 100px;/*border: 1px solid #dbdbdb;*/}
.wrapper ul li .divItem .ImgIcon img {width: 160px;height: 100px;cursor:pointer}
.wrapper ul li .divItem .ImgIcon img:hover {border: 1px solid #dbdbdb;}
.wrapper ul li .divItem .ItemContent {margin-left: 180px;height: -90px;padding: 0px;}
.wrapper ul li .divItem .ItemContent .MasterTitle {font-size: 14px;font-weight: bold;padding-bottom: 8px;color: #444;}